@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Righteous&display=swap');

$primary-color: #37474F;
$radius: 0.2rem;
$title-color: #ECEFF1;
$paragraph-color: #ECEFF1;
$span-color: #F25E08;
$border-color: #ECEFF1;
$spacing: 2.5rem;
$line-heigh-spacing: 2rem;
$span-font-family: 'Righteous', cursive;
$h2-font-family: 'Amatic SC', cursive;

@mixin horizontallyCenter() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text($color, $align, $line-heigh) {
  color: $color;
  text-align: $align;
  // line-height: $line-heigh;
}

@mixin zoomIn() {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@mixin grayScale($opacity, $opacity-hover) {
  @media (min-width: 1280px) { 
    -webkit-filter: grayscale($opacity);
    filter: grayscale($opacity);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  &:hover {
    -webkit-filter: grayscale($opacity-hover);
    filter: grayscale($opacity-hover);
  }
}


body {
  padding-bottom: 50%;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  margin-right: 5px;

  p, ul li {
    font-size: 21px;
  }
  a {
    color: $span-color !important;
    text-decoration: underline;
  }

  @media (min-width: 1280px) { 
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  padding-top: 20%;
  span {
    font-weight: bold;
    font-family: $span-font-family;
    color: $span-color;
  }
  p, ul {
    @media (min-width: 1280px) { 
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &.home {
    p {
      @include text($paragraph-color, center, $line-heigh-spacing);
    }

    img {
      @include horizontallyCenter();
      @include zoomIn();
      @include grayScale(90%, 10%);
      border-radius: $radius;
      width: 100%;
    }

    div {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  &.que-es-uniraid {
    p {
      @include text($paragraph-color, left, $line-heigh-spacing);
    }

    .row div {
      align-self: center;
    }

    div#videoUniraid {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        border-radius: $radius;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    img {
      @include horizontallyCenter();
      @include grayScale(90%, 0%);
      border-radius: $radius;
      width: 100%;
    }

    figure {
      align-self: center;

    }
  }

  &.solidaridad, &.coche {
    p {
      @include text($paragraph-color, left, $line-heigh-spacing);
    }
    div {
      align-self: center;
    }
    img {
      @include horizontallyCenter();
      @include zoomIn();
      @include grayScale(90%, 10%);
      border-radius: $radius;
      width: 100%;
    }
  }
  
  &.viaje, &.que-hacemos-ayudanos, &.aqui-termina-todo {
    p {
      @include text($paragraph-color, left, $line-heigh-spacing);
    }
    div {
      align-self: center;
    }
    img {
      @include horizontallyCenter();
      @include grayScale(90%, 10%);
      border-radius: $radius;
      width: 100%;
    }
    form {
      border: 1px solid transparent;
      padding: 10px;
      box-shadow: 5px 10px 8px #888888;

      background: rgb(255,172,46);
      background: radial-gradient(circle, rgba(255,172,46,1) 0%, rgba(255,190,91,1) 100%);

      border-radius: $radius;
      @media (min-width: 1280px) {
        width: 50%;
      }
      margin: auto;
      input[type=image] {
        width: 100%;
      }
    }
  }

  &.contacto {
    text-align: center;

    div {
      align-self: center;
    }
    img {
      width: 3rem;
      height: auto;
      margin-right: 0.5rem;
      vertical-align: bottom;
    }
    a {
      color: $paragraph-color !important;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      @include text($paragraph-color, left, $line-heigh-spacing);
    }
    ul {
      display: inline-block;
      li {
        margin-top: 1rem;
      }
    }
  }

  &.agradecimientos {
    figure {
      align-self: center;
    }
    img {
      @include horizontallyCenter();
      @include grayScale(90%, 10%);
      border-radius: $radius;
      width: 100%;
    }
  }

}

h1, h2 {
  &.title {
    @media (min-width: 1280px) {
      font-size: 5rem;
     }
  }
  &.sub-title {
    @media (min-width: 1280px) {
      font-size: 3rem;
     }

    // font-style: italic;
    font-family: $h2-font-family;
  }

  @include text($title-color, center, 5.5rem);
  margin-bottom: $spacing;
}

figure {
  overflow: hidden;
  width: 100%;
  border-radius: $radius;

  @media (min-width: 1280px) { 
    @include horizontallyCenter();
    width: 50%;
    img {
      width: 100%;
    }
  }
}

ul {
  list-style: none;
  color: $paragraph-color;
  li {
    @include text($paragraph-color, left, $line-heigh-spacing);
  }
}

#progress {
  border-bottom: 5px solid $span-color; 
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}



