@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Righteous&display=swap");
body {
  padding-bottom: 50%;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin-right: 5px;
}
body p, body ul li {
  font-size: 21px;
}
body a {
  color: #F25E08 !important;
  text-decoration: underline;
}
@media (min-width: 1280px) {
  body {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  padding-top: 20%;
}
section span {
  font-weight: bold;
  font-family: "Righteous", cursive;
  color: #F25E08;
}
@media (min-width: 1280px) {
  section p, section ul {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.home p {
  color: #ECEFF1;
  text-align: center;
}
section.home img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 0.2rem;
  width: 100%;
}
section.home img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@media (min-width: 1280px) {
  section.home img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
section.home img:hover {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
section.home div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
section.que-es-uniraid p {
  color: #ECEFF1;
  text-align: left;
}
section.que-es-uniraid .row div {
  align-self: center;
}
section.que-es-uniraid div#videoUniraid {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
section.que-es-uniraid div#videoUniraid iframe {
  border-radius: 0.2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.que-es-uniraid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2rem;
  width: 100%;
}
@media (min-width: 1280px) {
  section.que-es-uniraid img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
section.que-es-uniraid img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
section.que-es-uniraid figure {
  align-self: center;
}
section.solidaridad p, section.coche p {
  color: #ECEFF1;
  text-align: left;
}
section.solidaridad div, section.coche div {
  align-self: center;
}
section.solidaridad img, section.coche img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 0.2rem;
  width: 100%;
}
section.solidaridad img:hover, section.coche img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
@media (min-width: 1280px) {
  section.solidaridad img, section.coche img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
section.solidaridad img:hover, section.coche img:hover {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
section.viaje p, section.que-hacemos-ayudanos p, section.aqui-termina-todo p {
  color: #ECEFF1;
  text-align: left;
}
section.viaje div, section.que-hacemos-ayudanos div, section.aqui-termina-todo div {
  align-self: center;
}
section.viaje img, section.que-hacemos-ayudanos img, section.aqui-termina-todo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2rem;
  width: 100%;
}
@media (min-width: 1280px) {
  section.viaje img, section.que-hacemos-ayudanos img, section.aqui-termina-todo img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
section.viaje img:hover, section.que-hacemos-ayudanos img:hover, section.aqui-termina-todo img:hover {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}
section.contacto {
  text-align: center;
}
section.contacto div {
  align-self: center;
}
section.contacto img {
  width: 3rem;
  height: auto;
  margin-right: 0.5rem;
  vertical-align: bottom;
}
section.contacto a {
  color: #ECEFF1 !important;
  text-decoration: none;
}
section.contacto a:hover {
  text-decoration: underline;
}
section.contacto p {
  color: #ECEFF1;
  text-align: left;
}
section.contacto ul {
  display: inline-block;
}
section.contacto ul li {
  margin-top: 1rem;
}
section.agradecimientos figure {
  align-self: center;
}
section.agradecimientos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.2rem;
  width: 100%;
}
@media (min-width: 1280px) {
  section.agradecimientos img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
section.agradecimientos img:hover {
  -webkit-filter: grayscale(10%);
  filter: grayscale(10%);
}

h1, h2 {
  color: #ECEFF1;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media (min-width: 1280px) {
  h1.title, h2.title {
    font-size: 5rem;
  }
}
h1.sub-title, h2.sub-title {
  font-family: "Amatic SC", cursive;
}
@media (min-width: 1280px) {
  h1.sub-title, h2.sub-title {
    font-size: 3rem;
  }
}

figure {
  overflow: hidden;
  width: 100%;
  border-radius: 0.2rem;
}
@media (min-width: 1280px) {
  figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  figure img {
    width: 100%;
  }
}

ul {
  list-style: none;
  color: #ECEFF1;
}
ul li {
  color: #ECEFF1;
  text-align: left;
}

#progress {
  border-bottom: 5px solid #F25E08;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

/*# sourceMappingURL=style.css.map */
